@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: red;
}
nav .menu-btn i{
  color: red;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 25px;
  font-weight: 700;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 4px;
}

#input_total {
  width: 200px;
  height: 25px;
  border-radius: 0px;
  border-color: blue;
  border-width: 4px;
}

#marks_eti {
  height: 50px;
  width: 50px;
  border-radius: 75px;
  color: red;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 2px red;
  border-color: blue;
}
#marks_eti_1 {
  height: 50px;
  width: 200px;
  border-radius: 0px;
  color: red;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 2px red;
  border-color: blue;
  float: right;
}

#marks_eti_1:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px blue;
}

#marks_eti_2 {
  height: 50px;
  width: 200px;
  border-radius: 0px;
  color: red;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 2px red;
  border-color: blue;
}

#marks_eti_2:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px red;
}

#marks_eti:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px red;
}

#button_get {
  height: 50px;
  width: 200px;
  border-radius: 0px;
  font-size: 25px;
  color: blue;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 10px red;
  border-color: red;
}

#button_get:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px blue;
}

#error {
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#error_marks {
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#error_zenfinder {
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
  float: right;
}

#Percentage {
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#Marks {
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#header {
  font-size: 30px;
  font-weight: 700;
}

#article {
  border-style: solid;
  border-radius: 4px;
  border-color: violet;
  width: 95%;
  font-weight: bold;
  font-size: 25px;
}

#article_text {
  font-size: 25px;
  font-weight: bolder;
}

#article_info {
  font-size: 29px;
  font-family: fantasy;
  font-weight: bolder;
}

hr {
  border-color: black;
  height: 5px;
  fill: black;
}

img {
  border-color: black;
  border-radius: 4px;
  border-style: solid;
  width: 100%;
}

#Feedback {
  width: 75%;
  height: 150px;
  border-radius: 0px;
  border-color: blue;
  border-width: 4px;
}

body {
  width: 100%;
}

#error_marks_average{
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#error_marks_average_percent{
  font-size: 25px;
  border-radius: 0px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
}

#extra_marks {
  height: 25px;
  width: 25px;
}

#help_me {
  height: 50px;
  width: 200px;
  border-radius: 0px;
  font-size: 25px;
  color: blue;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 10px red;
  border-color: red;
}

#help_me:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px blue;
}

#queries_output {
  font-size: 29px;
  font-family: fantasy;
  font-weight: bolder;
}

#help_query {
  width: 85%;
  height: 50px;
  font-size: 25px;

}

#submit_query {
  height: 50px;
  width: 200px;
  border-radius: 0px;
  font-size: 25px;
  color: blue;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 10px red;
  border-color: red;
}

#submit_query:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px blue;
}

#query_answer {
  font-size: 25px;
  font-family: sans-serif;
}

#query_btns {
  height: 60px;
  width: 300px;
  border-radius: 0px;
  font-size: 12px;
  color: blue;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 10px red;
  border-color: red;
}

#query_btns:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px blue;
}

#help_btn {
  font-size: 25px;
  font-family: sans-serif;
}

#div_container {
  border-style: solid;
  border-radius: 4px;
  border-color: blueviolet;
  width: 95%;
  font-weight: bold;
  font-size: 25px;
}